.App{
  background-color: #282c34;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0 10px 0 10px;
}
#backBtn{
  background-color: inherit;
  /* display: flex; */
  border: none;
  align-items: center;
  color: white;
  font-weight: bold;
  /* font-size: x-large; */
  /* margin: 0; */
  /* padding: 0; */
}

h4{
    font-size: calc(10px + 2vmin);
}
.header{
  display: flex;
  justify-content: center;
  /* border: 2px solid white; */
}
.loginapp{
  /* border: 2px solid white; */
  /* width: 100px; */
}
#loginoutBtn{
  background-color: inherit;
  border: none;
  color: white;
  font-weight: bold;
}
.beforPopup{
  text-align: center;
  margin-top: 20px;
}
#signInn{
  margin-top: 10px;
  cursor: pointer;
  text-decoration: underline;
}
#signInn:hover{
  color: blue;
}
